<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="labels-list"  class="bg-blue-400">
          <ion-list-header class="ml-14 ">{{name}}</ion-list-header>
          <div style="display: flex;align-items: center;justify-content: center;">
            <div class="bg-slate-50 rounded-full border-8" style="width: 100px; height: 100px;margin-bottom: 10px;">
              <img src="{{photo}}" class="h-20 w-20 rounded-full" alt="">
            </div>
          </div>
          <ion-label class="ml-[40%] font-bold mb-4">maClasse</ion-label>
          <div *ngFor="let page of appPages" lines="none" class="bg-blue-400  text-black text-lg mt-1 shadow">
            <ion-icon aria-hidden="true"  [name]="page.icon"></ion-icon>
            <ion-label [routerLink]="page.url">{{ page.title }}</ion-label>
          </div>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
